body {
    padding: 20px;
}

h1 {
    text-align: center;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-position: center;
}

h1 span {
    visibility: hidden;
}

