body {
    background-color: #50ad78;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

img {
    margin-top: 65px;
}

form {
    padding: 60px 60px 10px 60px;
}

input {
    border: none;
    display: block;
    width: 100%;
    margin-bottom: 50px;
    background-color: transparent;
    font-weight: 300;
    border-bottom: 1px solid #dddce7;
}