body {
    background-color: #745cc1;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

img {
    margin-top: 65px;
}
form {
    padding: 60px 60px 10px 60px;
}